@unocss;

h1 {
  margin-block: 0;
}

.btn {
  @apply text-btn-text bg-btn-bg border-btn-border hover:not-disabled:bg-btn-hover-bg hover:not-disabled:border-btn-hover-border active:not-disabled:bg-btn-active-bg active:not-disabled:border-btn-active-border disabled:opacity-65 flex cursor-pointer items-center rounded-md border border-solid px-3 py-1.5 font-sans transition-colors disabled:cursor-default;
  box-shadow:
    inset 0 1px 0 #ffffff26,
    0 1px 1px rgba(0, 0, 0, 0.075);
  &:active {
    box-shadow: rgba(0, 0, 0, 0.125) 0px 3px 5px 0px inset;
  }
  &:focus-visible {
    box-shadow:
      rgba(255, 255, 255, 0.15) 0px 1px 0px 0px inset,
      rgba(0, 0, 0, 0.075) 0px 1px 1px 0px,
      rgba(38, 82, 154, 0.5) 0px 0px 0px 4px;
  }
}

.inp-text {
  @apply border-inp-border focus:border-inp-border-focus rounded border border-solid bg-white px-1.5 py-1 leading-normal outline-none;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  &:focus {
    box-shadow:
      inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px 2px #52a8ec99;
  }
}

.link {
  @apply text-link hover:text-link-hover hover:underline;
}
