@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --bs-primary: #038;
  --bs-text: #fff;

  --color-btn-color: var(--bs-text);
  --color-btn-bg: var(--bs-primary);
  --color-btn-border-color: var(--bs-primary);
  --color-btn-hover-color: var(--bs-text);
  --color-btn-hover-bg: #002b74;
  --color-btn-hover-border-color: #00296d;
  --color-btn-active-color: var(--bs-text);
  --color-btn-active-bg: #00296d;
  --color-btn-active-border-color: #002666;
  --color-btn-disabled-color: var(--bs-text);
  --color-btn-disabled-bg: var(--bs-primary);
  --color-btn-disabled-border-color: var(--bs-primary);

  --color-inp-border-color: #ccc;
  --color-inp-focus-border-color: #52a8eccc;
}

.btn {
  @apply text-btn-color bg-btn-bg border-btn-border-color cursor-pointer rounded-md border border-solid px-3 py-1.5 transition-colors;
  @apply hover:bg-btn-hover-bg hover:border-btn-hover-border-color;
  @apply active:bg-btn-active-bg active:border-btn-active-border-color;
  @apply disabled:bg-btn-disabled-bg disabled:border-btn-disabled-border-color disabled:opacity-65 disabled:cursor-default;
  box-shadow:
    inset 0 1px 0 #ffffff26,
    0 1px 1px rgba(0, 0, 0, 0.075);
  &:active {
    box-shadow: rgba(0, 0, 0, 0.125) 0px 3px 5px 0px inset;
  }
  &:focus-visible {
    box-shadow:
      rgba(255, 255, 255, 0.15) 0px 1px 0px 0px inset,
      rgba(0, 0, 0, 0.075) 0px 1px 1px 0px,
      rgba(38, 82, 154, 0.5) 0px 0px 0px 4px;
  }
}

.inp-text {
  @apply rounded-sm bg-white px-1.5 py-1 outline-none;
  @apply border-inp-border-color border border-solid;
  @apply focus:border-inp-focus-border-color;
  &:focus {
    box-shadow:
      inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px 2px #52a8ec99;
  }
}
